<header>
		<div id="logo">
			<!--TEXT OPTION--><!--<a href="/index/">Other<small>Just another WordPress site.</small></a>--><!--END-->
			<a href="/index/"><img src="/static/img/logo.png" alt="" /></a>
		</div>
		
		<nav>
			<ul>
				<li>
					<a href="/index/">主页</a>
				</li>
				<li>
					<a href="/blog/">文章&记录</a>
					<ul>
						<li>
							<a href="/blog/">2列展示</a>
						</li>
						<li>
							<a href="/blog-medium/">Medium</a>
						</li>
						<li>
							<a href="/blog-large/">Large</a>
						</li>
						<li>
							<a href="/single/">详细页</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="/team/">成员&会员</a>
					<ul>
						<li>
							<a href="/team/">Vertical</a>
						</li>
						<li>
							<a href="/team-horizontal/">Horizontal</a>
						</li>
						<li>
							<a href="/team-masonry/">图片墙</a>
						</li>
						<li>
							<a href="/single-team/">详细页</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/gallery/">我的档案室</a>
					<ul>
						
						<li>
							<a href="/gallery/">Vertical Gallery</a>
						</li>
						<li>
							<a href="/gallery-static/">Vertical - Fixed Opacity</a>
						</li>
						<li>
							<a href="/gallery-horizontal/">Horizontal Gallery</a>
						</li>
						<li>
							<a href="/gallery-horizontal-static/">Horizontal - Fixed Opacity</a>
						</li>
						<li>
							<a href="/single-portfolio/">Single Post- Video</a>
						</li>
						<li>
							<a href="/single-portfolio-image/">Single Post - Photo</a>
						</li>
						<li>
							<a href="/single-portfolio-gallery/">Single Post - Gallery</a>
						</li>
					</ul>
				</li>


				<li>
					<a href="/features/">页面元素展示</a>
				</li>
				
				<li>
					<a href="/contact/">联系我们</a>
				</li>
				<li>
					<a href="http://www.weidea.net">More themes</a>
				</li>
			</ul>
		</nav>
		<ul class="filters">
			<li>
				<a href="#" data-href="*">所有</a>
			</li>
			<li>
				<a href="#" data-href=".web-design">Web Design</a>
			</li>
			<li>
				<a href="#" data-href=".development">Development</a>
			</li>
			<li>
				<a href="#" data-href=".photography">Photography</a>
			</li>
			<li>
				<a href="#" data-href=".illustration">Illustration</a>
			</li>
		</ul>

		<div class="widget first">
			<h6><a href="www.lefleg.com">LefLeg</a>|乐于分享，乐于改变</h6>
			<p>发现分享的乐趣</p>
			<p>Designed & Developed with love by <a href="http://madeinebor.com">TommusRhodus</a></p>
		</div>
		
		<div class="widget">
			<h6>Social Icons</h6>
			<div class="social">
				<a href="/#"><i class="icon-twitter"></i></a>
				<a href="/#"><i class="icon-facebook-sign"></i></a>
				<a href="/#"><i class="icon-dribbble"></i></a>
				<a href="/#"><i class="icon-flickr"></i></a>
				<a href="/#"><i class="icon-github"></i></a>
			</div>
		</div>
		
	</header>