<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Other - Home</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!--[if IE 7]><link href="/static/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/framework.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	
	<div id="mobile-nav">
		<i class="icon-reorder"></i>
		<!-- TEXT OPTION  //  <h3>Other</h3>  -->
		<img src="/static/img/logo-small.png" alt="" />
	</div>

{% include "header.html" %}

<section class="content">

	<div class="article-nav blog">
		<a href="single/" class="post-nav"><i class="icon-angle-left"></i></a>
		<a href="#" class="close"><i class="icon-angle-right"></i><i class="icon-angle-left"></i></a>
		<a href="single/" class="post-nav"><i class="icon-angle-right"></i></a>
	</div>
	
	<div class="video-title blog">
		<h2><small>September 3rd, 2013</small>2013 Web Trends<small>Posted In: Web Design, Development</small></h2>
		<h6 class="remove-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque.</h6>
	</div>
	
	<ul class="rslides">
	  <li><img src="/static/img/1.jpg" alt=""></li>
	  <li><img src="/static/img/2.jpg" alt=""></li>
	  <li><img src="/static/img/3.jpg" alt=""></li>
	</ul>
	<div class="clear break small"></div>
	
	<article>

		<p data-pullquote="This is a simple CSS3 pullquote, it's here to enhance the content, and uses nothing but simple CSS, it's will degrade gracefully in older browsers.">Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et.</p>
		
		<p>Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et.</p>
		
		<blockquote>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et.<small>-- TOMMUSRHODUS</small></blockquote>
		
		<div class="one_half">
			<p>Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et.</p>
		</div>
		
		<div class="one_half last">	
			<p>Nulla dui purus, eleifend vel, consequat non, dictum porta, nulla. Duis ante mi, laoreet ut, commodo eleifend, cursus nec, lorem. Aenean eu est. Etiam imperdiet turpis. Praesent nec augue. Curabitur ligula quam, rutrum id, tempor sed, consequat ac, dui. Vestibulum accumsan eros nec magna. Vestibulum vitae dui. Vestibulum nec ligula et lorem consequat ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus eget nisl ut elit porta ullamcorper. Maecenas tincidunt velit quis orci. Sed in dui. Nullam ut mauris eu mi mollis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed cursus cursus velit. Sed a massa. Duis dignissim euismod quam. Nullam euismod metus ut orci. Vestibulum erat libero, scelerisque et.</p>
		</div>
		<div class="clear"></div><!--CLEAR FLOATS-->
		
		<div class="comments scroll-animate">
			<h5 id="comment-title">3 Comments</h5>
			<hr />
			
			<ol id="comments" class="clearfix">
				<li>
					<img src="/static/img/th1.jpg" alt="image" class="avatar" />
					<div class="comment-content">
						<h6 class="margin-bottom-10">Mr. John Doe <span class="meta"> • Posted 12th July 1988</span></h6>
						
						<p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa. Vestibulum quis augue sit amet ipsum laoreet pretium. Nulla facilisi. Duis tincidunt.</p>
						
						<p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<hr />
					</div>
					<ul>
						<li>
							<img src="/static/img/th2.jpg" alt="image" class="avatar" />
							<div class="comment-content">
								<h6 class="margin-bottom-10">Mr. John Doe <span class="meta"> • Posted 12th July 1988</span></h6>
								
								<p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa. Vestibulum quis augue sit amet ipsum laoreet pretium. Nulla facilisi. Duis tincidunt.</p>
								
								<p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
								<hr />
							</div>
						</li>
					</ul>
				</li>
				<li>
					<img src="/static/img/th3.jpg" alt="image" class="avatar" />
					<div class="comment-content">
						<h6 class="margin-bottom-10">Mr. John Doe <span class="meta"> • Posted 12th July 1988</span></h6>
						
						<p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa. Vestibulum quis augue sit amet ipsum laoreet pretium. Nulla facilisi. Duis tincidunt.</p>
						
						<p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<hr />
					</div>
				</li>
			</ol>
			
			<p>What are your thoughts? Please leave a comment.</p>
			<form method="post" action="#">
				<input type="text" name="name" placeholder="name" />
				<input type="text" name="email" placeholder="email" />
				<input type="text" name="website" placeholder="website" />
				<textarea name="comments" placeholder="comments"></textarea>
				<input type="submit" name="submit" value="submit" />
			</form>
		</div>
	
	</article>

</section>

<!--LOAD SCRIPTS-->
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script src="/static/js/plugins.js" type="text/javascript"></script>
<script src="/static/js/custom.js" type="text/javascript"></script>

</body>
</html>